

.nav {
  /* Frame 1 */

  /* navbar */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px;
gap: 8px;
isolation: isolate;

width: 287px;
height: 58px;

background: rgba(255, 255, 255, 0.05);
box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.05), 0px 8px 72px -5px rgba(0, 0, 0, 0.1), inset 1px 0.5px 0px rgba(255, 255, 255, 0.6), inset -1px -1px 0px rgba(255, 255, 255, 0.4), inset 0px 0px 5px rgba(255, 255, 255, 0.15), inset 0px 2px 20px 2px rgba(53, 53, 53, 0.05);
backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 1000px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

}



.card{
  cursor: pointer;
  transition: all ease .3s;
}

.card:hover{
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

